@font-face {
  font-family: 'Mona Sans';
  src: url('./fonts/MonaSansVF.woff2') format('woff2');
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Visuelt Pro Light';
  src: url('./fonts/VisueltPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html,
body,
#root {
  font-family: 'Mona Sans', sans-serif;
}
